extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Paula Mejia

        p Full Stack Developer


        .about-bio

          p I'm a Full-Stack Software Developer with a genuine passion for creating meaningful projects that positively impact people's lives.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li React 
          li FastAPI
          li Django

        h6 Contact Info

        ul
          li 786-672-9966
          li paula.natalia.mejia@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/paula-natalia-mejia/') LinkedIn
        a.btn-link(href='https://github.com/pnmejia17') GitHub
        a.btn-link(href='https://twitter.com/?lang=en') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back