extends layout.pug

block content

  article.portfolio-intro

    h1 Hi! I'm Paula, Full-Stack Software Engineer

    p I'm a Full-Stack Software Developer with a passion for creating meaningful projects that positively impact the world.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects 
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`Thumbnail for ${project.project_name}`)
            h5=project.project_name

